<h4>
  Acrescente uma Possível Solução
</h4>

<p>O principal objetivo aqui é fazer com que você, usuário, pense sobre as questões abordadas voltadas para as dificuldades que enfrentamos relacionadas ao meio ambiente, natureza e o cuidado de ambos. Sendo assim, caso se interesse, poderá acrescentar abaixo, alguma solução para contribuir com estas questões tão complexas!</p>

<h5 class="title">Adicione uma possível solução abaixo: </h5>

<div class="button">
  <button type="button" class="btn btn-info" (click)="navigateToSolutionCreate()">
    Adicionar Solução
  </button>
</div>

