
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-indicators">

    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>

  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/slide1.jpg" class="d-block w-50" alt="slide1">
    </div>

    <div class="carousel-item">
      <img src="assets/slide2.jpg" class="d-block w-50" alt="slide2">
    </div>
    <div class="carousel-item">
      <img src="assets/slide3.jpg" class="d-block w-50" alt="slide3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<h2 class="title1">
  Save Our Planet
</h2>

<p class="conteudo">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, qui tenetur corporis molestias dolores recusandae a, voluptatum nesciunt eos soluta porro, cumque deserunt reprehenderit quia! Dicta, totam? Ducimus, voluptates optio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia commodi explicabo porro, doloribus voluptatibus harum animi necessitatibus quidem incidunt error reiciendis. Quibusdam error delectus culpa impedit iure vitae dolore fuga. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur harum ex, ea exercitationem dolor nemo laboriosam quibusdam quos, omnis nulla esse. Vel dolorem sint consectetur. Asperiores accusamus explicabo excepturi optio!</p>

<p class="conteudo">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, qui tenetur corporis molestias dolores recusandae a, voluptatum nesciunt eos soluta porro, cumque deserunt reprehenderit quia! Dicta, totam? Ducimus, voluptates optio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia commodi explicabo porro, doloribus voluptatibus harum animi necessitatibus quidem incidunt error reiciendis. Quibusdam error delectus culpa impedit iure vitae dolore fuga. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur harum ex, ea exercitationem dolor nemo laboriosam quibusdam quos, omnis nulla esse. Vel dolorem sint consectetur. Asperiores accusamus explicabo excepturi optio!</p>
  
<p class="conteudo">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, qui tenetur corporis molestias dolores recusandae a, voluptatum nesciunt eos soluta porro, cumque deserunt reprehenderit quia! Dicta, totam? Ducimus, voluptates optio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia commodi explicabo porro, doloribus voluptatibus harum animi necessitatibus quidem incidunt error reiciendis. Quibusdam error delectus culpa impedit iure vitae dolore fuga. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur harum ex, ea exercitationem dolor nemo laboriosam quibusdam quos, omnis nulla esse. Vel dolorem sint consectetur. Asperiores accusamus explicabo excepturi optio!</p>
