<div class="homeImg" >
  <img src="assets/maos.jpg" class="rounded mx-auto d-block w-50" alt="homeImage">
</div>

<h2 class="title1">
  Save Our Planet
</h2>

<p class="conteudo">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, qui tenetur corporis molestias dolores recusandae a, voluptatum nesciunt eos soluta porro, cumque deserunt reprehenderit quia! Dicta, totam? Ducimus, voluptates optio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia commodi explicabo porro, doloribus voluptatibus harum animi necessitatibus quidem incidunt error reiciendis. Quibusdam error delectus culpa impedit iure vitae dolore fuga. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur harum ex, ea exercitationem dolor nemo laboriosam quibusdam quos, omnis nulla esse. Vel dolorem sint consectetur. Asperiores accusamus explicabo excepturi optio!</p>

<p class="conteudo">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, qui tenetur corporis molestias dolores recusandae a, voluptatum nesciunt eos soluta porro, cumque deserunt reprehenderit quia! Dicta, totam? Ducimus, voluptates optio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia commodi explicabo porro, doloribus voluptatibus harum animi necessitatibus quidem incidunt error reiciendis. Quibusdam error delectus culpa impedit iure vitae dolore fuga. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur harum ex, ea exercitationem dolor nemo laboriosam quibusdam quos, omnis nulla esse. Vel dolorem sint consectetur. Asperiores accusamus explicabo excepturi optio!</p>
  
<p class="conteudo">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, qui tenetur corporis molestias dolores recusandae a, voluptatum nesciunt eos soluta porro, cumque deserunt reprehenderit quia! Dicta, totam? Ducimus, voluptates optio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia commodi explicabo porro, doloribus voluptatibus harum animi necessitatibus quidem incidunt error reiciendis. Quibusdam error delectus culpa impedit iure vitae dolore fuga. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur harum ex, ea exercitationem dolor nemo laboriosam quibusdam quos, omnis nulla esse. Vel dolorem sint consectetur. Asperiores accusamus explicabo excepturi optio!</p>
